<div id="page">
  <form action="<% request.uri_base %>/extract" method="GET" id="extract" name="extract">
    <input class="url" name="url" id="url" type="url" value="http://">
    <input class="button" type="submit" value="Extract content">
  </form>
</div>
